extends layout

block body
  header.navbar.navbar-fixed-top
    .navbar-inner
      .container-fluid
        a.brand(href="#") Seed App
        .nav
          li
            a(href='view1') View 1
          li
            a(href='view2') View 2

  .container-fluid
    div(ng-view)

    div
      | Seed app: v
      span(app-version)

  // jquery and underscore
  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js")
  script(src="//code.jquery.com/ui/jquery-ui-git.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js")
  // boostrap
  script(src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js")

  // angular libraries
  script(src='js/lib/angular/angular.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')

  // angular-ui and ui-bootstrap
  script(src="https://raw.github.com/angular-ui/angular-ui/v0.4.0/build/angular-ui-ieshiv.min.js")  
  script(src="https://raw.github.com/angular-ui/angular-ui/v0.4.0/build/angular-ui.min.js")
  script(src="https://raw.github.com/angular-ui/bootstrap/gh-pages/ui-bootstrap-tpls-0.1.0-SNAPSHOT.min.js")
