!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Angular Express Seed App
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css")
    link(rel='stylesheet', href="https://raw.github.com/angular-ui/angular-ui/v0.4.0/build/angular-ui.min.css")
  body(ng-controller="AppCtrl")
    block body